table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#1976d2;
    color:white;
}

td,th{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.pending{
    color:orange;
    font-weight:bold;
}

.confirmed{
    color:blue;
    font-weight:bold;
}

.shipped{
    color:#8e44ad;
    font-weight:bold;
}

.delivered{
    color:green;
    font-weight:bold;
}

.cancelled{
    color:red;
    font-weight:bold;
}

button{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkred;
}