<div class="hero">
  <div class="hero-content">
    <h1>Welcome to ShopEasy</h1>
    <p>Your One-Stop Destination for Electronics, Fashion & More</p>

    <button routerLink="/product">Shop Now</button>
  </div>
</div>

<!-- Search Section -->
<section class="search-section">

  <h2>Find Your Favorite Products</h2>

  <input
    type="text"
    placeholder="🔍 Search Products..."
    readonly
    routerLink="/product">

</section>

<!-- Categories -->
<section class="categories">

  <h2>Shop by Category</h2>

  <div class="category-container">

    <div class="category-card" [routerLink]="['/product']" [queryParams]="{ category: 'Electronics' }">
      📱
      <h3>Electronics</h3>
    </div>

    <div class="category-card" [routerLink]="['/product']" [queryParams]="{ category: 'Laptops' }">
      💻
      <h3>Laptops</h3>
    </div>

    <div class="category-card" [routerLink]="['/product']" [queryParams]="{ category: 'Fashion' }">
      👕
      <h3>Fashion</h3>
    </div>

    <div class="category-card" [routerLink]="['/product']" [queryParams]="{ category: 'Accessories' }">
      🎧
      <h3>Accessories</h3>
    </div>

  </div>

</section>

<!-- Features -->
<section class="features">

  <div class="feature-card">
    <h2>📱 Electronics</h2>
    <p>Latest smartphones, laptops, and accessories.</p>
  </div>

  <div class="feature-card">
    <h2>👕 Fashion</h2>
    <p>Trending clothing and footwear collections.</p>
  </div>

  <div class="feature-card">
    <h2>🚚 Fast Delivery</h2>
    <p>Fast and secure delivery across India.</p>
  </div>

  <div class="feature-card">
    <h2>💳 Secure Payments</h2>
    <p>100% safe online payment options.</p>
  </div>

</section>

<!-- Offers -->
<section class="offer">

  <h2>🔥 Today's Deals</h2>

  <p>Up to <strong>50% OFF</strong> on selected products.</p>

  <button routerLink="/product">
    Explore Deals
  </button>

</section>

<!-- Footer -->
<footer>

  <p>© 2026 ShopEasy. All Rights Reserved.</p>

</footer>