<h2>Edit Product</h2>

<form (ngSubmit)="UpdateProduct()">
    <label for="name">Name:</label>
    <input  id="name" type="text" [(ngModel)]="product.name" name="name">
    <br>
    <label for="description">Description:</label>
    <input id="description" type="text" [(ngModel)]="product.description" name="description">
    <br>
    <label for="price">Price:</label>
    <input id="price" type ="number" [(ngModel)]="product.price" name="price">
    <br>
    <label for="image">Image:</label>
    <input id="image" type="text" [(ngModel)]="product.image" name="image">
    <br>
    <label for="category">Category:</label>
    <input id="category" type="text" [(ngModel)]="product.category" name="category">
    <br>
    <label for="stock">Stock:</label>
    <input id="stock" type="number" [(ngModel)]="product.stock" name="stock">
<button type="submit">Save</button>
</form>