.navbar{
    background:#509885;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;
}

.logo a{
    color:white;
    text-decoration:none;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#ffd700;
}

.active{
    color:#ffd700;
    font-weight:bold;
}

.search-box input{
    width:220px;
    padding:8px 12px;

    border:none;
    border-radius:20px;

    outline:none;
}

.user-section{
    display:flex;
    align-items:center;
    gap:15px;
}

.welcome{
    font-size:16px;
}

.logout-btn{

    background:#ff4d4d;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;
}

.logout-btn:hover{
    background:#d93636;
}

.login-btn{
    background:#28a745;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}

.login-btn:hover{
    background:#218838;
}