<button class="add-btn" (click)="addProduct()">
  +Add Product
</button>

<div class="product-container">
  @for (product of products; track product.name) {
    <div class="product-card">
      <h3>{{product.name}}</h3>

      <img [src]="product.image" [alt]="product.name" class="product-image">

      <p><strong>Description:</strong> {{product.description}}</p>

      <p><strong>Price:</strong> ₹{{product.price}}</p>

      <p><strong>Category:</strong> {{product.category}}</p>

      <p><strong>Stock:</strong> {{product.stock}}</p>
<button (click)="Edit(product.id)" >Edit</button>
      <button (click)="cart(product)">Add to Cart</button>
    </div>
  }

</div>  